[Unit]
Requires=roscore.service usb_cam.service jetmax_control.service
After=NetworkManager.service usb_cam.service jetmax_control.service

[Service]
Type=simple
User=hiwonder
Restart=always
RestartSec=5
ExecStart=/home/hiwonder/ros/autostart/waste_classification.bash

[Install]
WantedBy=multi-user.target


